$theme-color: #377037;
$theme-hover: #285228;
$font-family: 'Open Sans', sans-serif;
$site-color: #000000;
$font-size: 14px;
$border-color: #dbdbdb;
$link-hover: #377037;
$input-color: #565a5c;
$btn-hover: #fff;
$footer-bg: #000;
$foot-btn: transparent;
$banner-back: #f8f8f9;
$border-top:  #f1f1f1;
$link-color: #216C55;
$body-color: #f1f1f1;
$menu-hover: #C6C6C6;
$box-shadow: #ccc;
$blue-sign-btn: #11939a;
$text-danger-color: #a94442;
$black-btn: #000;
$facebook-btn: #3b5998;
$google-btn: #6e9af7;
$send-msg: #1fbad6;
$section-background: #f8f8f9;